# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: Apache-2.0

kmod_images_ecr.csv
.vscode
# Binaries and installation files
*.tar.gz
oc
kubectl
openshift-client-*

# Temporary files
*.tmp
*.temp
.DS_Store

# Secrets and auth files
*.json.auth
auth.json
.config/containers/auth.json
